<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



   <bean id="datasource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	
	<property name="username" value="spring"/>
	<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
	<property name="password" value="abc"/>
	<property name="driverClassName"
		value="oracle.jdbc.driver.OracleDriver"/>	
	</bean>


    <bean id="jdbcTemplate"
		class="org.springframework.jdbc.core.JdbcTemplate">
	<property name="dataSource" ref="datasource"/>
	</bean>

    <bean id="empDao" class="com.spring.dao.EmployeeDAO">
    	<property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    
    
    <bean id="empservice" class="com.spring.service.EmployeeService">
    	<property name="empdao" ref="empDao"></property>
    </bean>
    
    
 
 
    <bean id="/form" class="com.spring.Controllers.Display_Form_Controller"/>
    
    
   
    <bean id="/insert"
    	class="com.spring.Controllers.Insert_Form_Details_Controller">
    <property name="service" ref="empservice" />
    </bean>
</beans>
